/* Style pour les messages d'erreur */
.error-message {
    color: red;
    /* Couleur rouge pour les messages d'erreur */
    font-weight: bold;
    /* Texte en gras */
    margin: 10px 0;
    /* Marge autour du message */
}

/* Style de base pour les liens */
a {
    color: black;
    /* Couleur du texte du lien */
    text-decoration: none;
    /* Supprimer le soulignement par défaut */
    transition: color 0.3s ease;
    /* Transition douce pour le changement de couleur */
}

/* Style pour le h1 avec logo */
.header-title {
    display: flex;
    /* Utiliser Flexbox pour aligner le logo et le texte */
    align-items: center;
    /* Centrer verticalement le contenu */
    justify-content: center;
    /* Centrer horizontalement le contenu */
    font-size: 4rem;
    /* Taille de la police */
    color: #333;
    /* Couleur du texte */
    margin: 1rem 0;
    /* Marge autour du titre */
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
    /* Ombre légère pour le texte */
}

/* Style pour le logo */
.header-logo {
    width: 6rem;
    /* Largeur du logo */
    height: auto;
    /* Hauteur automatique pour conserver le ratio */
    margin-right: 2rem;
    /* Espacement entre le logo et le texte */
    transition: transform 0.3s;
    /* Transition pour l'effet de survol */
}

/* Effet de survol pour le logo */
.header-logo:hover {
    transform: rotate(5deg);
    /* Légère rotation au survol */
}

/* Style général de la page */
body {
    font-family: Arial, sans-serif;
    /* Police de caractères */
    color: #333;
    /* Couleur du texte */
}

/* Style pour la navigation d'accueil */
.nav_accueil {
    background-color: #333;
    /* Couleur de fond de la navigation */
    margin: 2rem;
    /* Marge autour de la navigation */
}

/* Style pour la liste d'accueil */
.ul_accueil {
    list-style-type: none;
    /* Supprime les puces */
    padding: 0;
    /* Supprime le padding */
    margin: 0;
    /* Supprime la marge */
}

/* Style pour les éléments de la liste d'accueil */
.li_accueil {
    position: relative;
    /* Nécessaire pour le positionnement du sous-menu */
    display: inline-block;
    /* Affiche les éléments en ligne */
}

/* Style pour les liens dans la liste d'accueil */
.li_accueil a {
    display: block;
    /* Permet de cliquer sur toute la zone */
    padding: 15px 20px;
    /* Espacement interne */
    color: white;
    /* Couleur du texte */
    text-decoration: none;
    /* Supprime le soulignement */
}

/* Effet de survol pour les liens dans la liste d'accueil */
.li_accueil a:hover {
    background-color: #555;
    /* Couleur de fond au survol */
}

/* Style pour le sous-menu */
.dropdown {
    display: none;
    /* Masque le sous-menu par défaut */
    position: absolute;
    /* Positionne le sous-menu par rapport à l'élément parent */
    background-color: #333;
    /* Couleur de fond du sous-menu */
    min-width: 160px;
    /* Largeur minimale du sous-menu */
    z-index: 1;
    /* Assure que le sous-menu est au-dessus des autres éléments */
}

/* Style pour les éléments du sous-menu */
.dropdown li {
    display: block;
    /* Affiche les éléments du sous-menu en bloc */
}

/* Affiche le sous-menu au survol de l'élément parent */
.li_accueil:hover .dropdown {
    display: block;
    /* Affiche le sous-menu au survol de l'élément parent */
}

/* Style pour le pied de page */
footer {
    text-align: center;
    /* Centre le texte dans le pied de page */
    padding: 20px 0;
    /* Espacement interne */
    margin-top: 2rem;
    /* Marge au-dessus du pied de page */
    background-color: #333;
    /* Couleur de fond du pied de page */
    color: white;
    /* Couleur du texte dans le pied de page */
    position: relative;
    /* Positionnement relatif */
    bottom: 0;
    /* Positionne le pied de page en bas */
    width: 100%;
    /* Largeur à 100% */
}

/* Style pour le conteneur d'accueil */
.accueil_contener {
    margin: auto;
    /* Centre le conteneur */
    padding: 0.5rem;
    /* Espacement interne */
    width: 50%;
    /* Définissez une largeur pour l'élément */
    text-align: center;
    /* Centre le texte à l'intérieur du conteneur */
    background-color: #54a8dd;
    /* Couleur de fond du conteneur */
    border-radius: 15px;
    /* Arrondit les coins du conteneur */
}