{% extends 'base.html.twig' %}

{% block header_title %}ProjetTicketing{% endblock %}

{% block body %}

<div class='accueil_contener'>
    <P>Bienvenue sur "ProjetTicketing", une application web sous Symfony 7 permettant
    de traiter les tickets clients.</p>
</div>

{% endblock %}
